* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    text-align: center;
    font-family: 'Fraunces', serif;
    line-height: 1.8;
    max-width: 1600px;
    background-color: #3EBFFF;
}


.grid {
        display: flex;
        flex-direction: column;
    }


/* TYPEOGRAHY */

h1 {
    font-size: 42px;
}
p {
    font-family: 'Barlow', sans-serif;
    color: rgba(0, 0, 0, 0.669);
    font-size: 1.1rem;
}





/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    padding: 2em 4em;
}

.logo {
    font-size: 1.8em;
    color: white;
    font-weight: 800;
    font-family: 'Barlow', sans-serif;
}

.navlink {
    text-decoration: none;
    color: white;
    font-size: .9em;
    font-family: 'Barlow', sans-serif;
    margin: 0 1em;
}

.navlink:hover,
.navlink:focus {
    border-bottom: 1px solid white;
}

.navbtn {
    text-decoration: none;
    background-color: white;
    color: black;
    text-transform: uppercase;
    margin: 0 1em;
    padding: .6em 1.1em;
    border-radius: 50px;
    font-size: .9em;
    
}

.navbtn:hover,
.navbtn:focus {
    background-color: rgba(255, 255, 255, 0.347);
    color: #fff;
}







/* LINKS & BUTTONS */

.learnmore {
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    border-bottom: yellow 5px solid;
}

.learnmore:hover,
.learnmore:focus {
    color: rgba(0, 0, 0, 0.813);
    border-bottom: #FA7264 5px solid;
}


/* HERO */

.orange {
    background-image: url(../images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    height: 75vh;   
}

.header {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
    padding-top: 1em;
    /* padding-bottom: 1em; */
}

/* BODY */

.text-body {
    padding: 5em;
    background-color: white;
}

.text-body h2 {
    font-size: 3em;
    line-height: 1.3;
}

.img-square {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    align-self: flex-start;
}



/* BODY 2 */

.cherry {
    background-image: url(../images/desktop/image-graphic-design.jpg);
}

.manderin {
    background-image: url(../images/desktop/image-photography.jpg);
}

.cherry,
.manderin {
    background-position: center;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.text-bottom {
    padding: 0 1em 2em;
    color:rgba(0, 0, 0, 0.607)
}

.text-bottom h2 {
    font-size: 30px;
}
/* REIVEWS */


.div8 * {
    border: 1px solid red;
}


.div8 {
    background-color: white;
    text-align: center;
}

.review {
    padding: 4em;
    margin: 0 auto;

}


.img-review {
    border-radius: 100px;
    max-width: 80px;
}

.review-header {
    text-transform: uppercase;
    letter-spacing: 5px;
    color:rgba(0, 0, 0, 0.402);
    font-size: 16px;
    padding-top: 8em;
}

.review-name {
    font-family: 'Fraunces', serif;
    color: #000;
}

.review-title {
    color:rgba(0, 0, 0, 0.388);
    margin-bottom: 85px;
    font-size: 12px;
}

.review-text {
    font-size: 24px;
}


/* Footer */


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:rgba(0, 0, 0, 0.559);
    background-color: hsla(168, 47%, 68%, 0.587);
    padding: 3em;
}

footer h3 {
    font-size: 1.8em;
    font-weight: 800;
    font-family: 'Barlow', sans-serif;
}

.footerlinks {
    display: flex;
    justify-content: center;
    margin: 0 0 4em;
}


.footerlink {
    text-decoration: none;
    text-align: center;
    color:rgba(0, 0, 0, 0.477);
    margin: 0 2em;
}

.footerlink:hover,
.footerlink:focus {
    color: rgba(255, 255, 255, 0.327);
    cursor: pointer;
}

.footerlink:visited {
    color:rgba(0, 0, 0, 0.477);

}

.footerimages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
}

.footerimg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.attlink {
    text-decoration: none;
    text-align: center;
    color:rgba(0, 0, 0, 0.477);
}

.attlink:hover,
.attlink:focus {
    color: rgba(255, 255, 255, 0.327);
    cursor: pointer;
}

.attlink:visited {
    color:rgba(0, 0, 0, 0.477);

}
.attribution {
    background-color: hsla(0, 0%, 100%, 0.19);
    width: 100%;
    padding: .5em 0;
}




/* MEDIA Full Screen */

@media only screen and (min-width: 750px) {

    .grid {
        display: grid;
        grid-template-areas: 
                "div1 div1"
                "div2 div3"
                "div4 div5"
                "div6 div7"
                "div8 div8";
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100%;

    }


    .div1 { grid-area: div1; }
    .div2 { grid-area: div2; }
    .div3 { grid-area: div3; }
    .div4 { grid-area: div4; }
    .div5 { grid-area: div5; }
    .div6 { grid-area: div6; }
    .div7 { grid-area: div7; }
    .div8 { grid-area: div8; }

    .header {
        font-size: 3.1rem;
        letter-spacing: 8px;
    }

    .text-body {
        text-align: left;
    }

    .down-arrow {
        margin-top: 5em;
        width: 3%;
    }

    .cherry,
    .manderin {
        background-position: center;
        background-size: cover;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .text-bottom {
        padding-left: 10vw;
        padding-right: 8vw;
        
    }

    .review {
        display: flex;
        flex-direction: row;
        
    }

    .reviewblock {
        margin: 0 1.5em;
    }

    .review-name {
        margin-top: 4em;
        margin-bottom: 0;
    }


    .footerimages {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100%;
    }



}
    
